<a href="https://colab.research.google.com/github/parisairam/learning/blob/master/100_Python_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **100 Python Excercises**

## **Exercise 1 - Variable Updating**

What will the following code produce ?

a = 2

a = 4

a = 6

print(a + a + a)

In [2]:
a = 2
a = 4
a = 6
print(a + a + a)

18

## **Exercise 2 - Naming Rules**

What's wrong with the following script?

a = 1

_a = 2

_a2 = 3

2a = 4

### Answer:

Variable name starts with a letter or an underscore, but cannot start with a number.

## **Exercise 3 - Compare Vs Assign**

Executing the code will throw an error. Can you explain why?

a = 1

b = 2

print(a == b)

print(b == c)

In [3]:
a = 1
b = 2
print(a == b)
print(b == c)

False

NameError: ignored

## Answer

Variable C is not defined

## **Exercise 4 - type Error**

Fix the last line so that it outputs the sum of 1 and 2. Please do not change the first two lines. Only the last one.

a = "1"

b = 2

print(a + b)

In [4]:
a = "1"
b = 2
print(int(a) + b)

3

## **Exercise 5 - Sequence Indexing**

Complete the script so that it prints out the second item of the list.

letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [5]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[1])

b

## **Exercise 6 - Sequence Slicing**

Please complete the script so that it prints out a list slice containing items d , e , and f .

letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [7]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[3:6])

['d', 'e', 'f']

## **Exercise 7 - Sequence Slicing**

List slicing is important in various data manipulation activities. Let's do a few more exercises on that.

Please complete the script so that it prints out the first three items of list letters.

letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [8]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[:3])

['a', 'b', 'c']

## **Exercise 8 - Negative Indexing**

Complete the script so that it prints out letter i  using negative indexing.


letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [10]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[-2])

i

## **Exercise 9 - Negative Slicing**

Complete the script so that it prints out a list slice containing the last three items of list letters .


letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [11]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[-3:])

['h', 'i', 'j']

## **Exercise 10 - Sequence Item Picking**

Complete the script so that it prints out a list slice containing letters a, c, e, g, and i. 


letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [12]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[::2])

['a', 'c', 'e', 'g', 'i']

## **Exercise 11 - Range**

Generate a list from 1 to 20 and list should not be created manually.

In [17]:
#casting the ouput of range() into list because range() returns range object and not list
my_list=list(range(1,21))
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

## **Exercise 12 - More Ranges**

Complete the script so that it produces the expected output. Please use my_range  as input data.


my_range = range(1, 21)

In [20]:
my_range = range(1, 21)
#Solution 1
Sol1 = []
for x in my_range:
  Sol1.append(x*10)
print(Sol1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

In [21]:
my_range = range(1, 21)
#Solution 2
Sol2 = [x * 10 for x in my_range]
print(Sol2)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

In [22]:
my_range = range(1, 21)
#Solution 3
Sol3 = list(map(lambda x: x * 10, my_range))
print(Sol3)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

## **Exercise 13 - Ranges of Strings**

Complete the script so it generates the expected output using my_range  as input data. Please note that the items of the expected list output are all strings.


my_range = range(1, 21)

***Expected Output***

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

In [23]:
my_range = range(1, 21)
print([str(x) for x in my_range])

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

In [25]:
#Using Map Function
my_range = range(1, 21)
print(list(map(str,my_range)))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

## **Exercise 14 - Removing Duplicates**

Complete the script so that it removes duplicate items from list a .


a = ["1", 1, "1", 2]

In [27]:
#Solution 1
a = ["1", 1, "1", 2]
print(list(set(a)))

[1, '1', 2]

In [28]:
#Solution 2
#Problem with the previous solution is that the input order is lost

a = ["1", 1, "1", 2]
b = []
for x in a:
  if x not in b:
    b.append(x)
print(b)

['1', 1, 2]

In [29]:
#Solution 3
#The above solution retains the input order, but the time taken is more as it needs to access both the lists
#Ordered Dictionary is another Datatype

from collections import OrderedDict
a = ["1", 1, "1", 2]
b= list(OrderedDict.fromkeys(a))
print(b)

['1', 1, 2]

## **Exercise 15 - Simple Dictionary**

Create a dictionary that contains the keys a  and b  and their respective values 1  and 2 .

In [31]:
# Using Curly Braces
d = {'a': 1 , 'b' : 2}

# Using Dict Function
d = dict(a = 1, b = 2)

## **Exercise 16 - Accessing Dictionary Items**

Please complete the script so that it prints out the value of key b .


d = {"a": 1, "b": 2}

In [32]:
d = {"a": 1, "b": 2}
print(d["b"])

2

## **Exercise 17 - Dictionary Items Sum Up**

Calculate the sum of the values of keys a  and b .


d = {"a": 1, "b": 2, "c": 3}

In [33]:
d = {"a": 1, "b": 2, "c": 3}
print(d["a"]+d["b"])

3

## **Exercise 18 - Key Error**

d = {"Name": "John", "Surname": "Smith"}

print(d["Smith"])

Throws KeyError. Fix the syntax to print the Surname value.

In [34]:
d = {"Name": "John", "Surname": "Smith"}
print(d["Surname"])

Smith

## **Exercise 19 - Add Dictionary Key**

Add a new pair of key (e.g. c ) and value (e.g. 3 ) to the dictionary and print out the new dictionary.


d = {"a": 1, "b": 2}

***Expected Output:***

{'a': 1, 'c': 3, 'b': 2}

In [36]:
d = {"a": 1, "b": 2}
d["c"] = 3
print(d)

{'a': 1, 'b': 2, 'c': 3}